.contact {
    height: 110vh;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__inquiries {
        padding-top: 8rem;
        padding-bottom: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
    }
    
}