// layout
.landing {
    max-width: 100%;
    margin: 2rem 2rem;
    background-color: white;
    min-height: 115vh;
}

.container {
    // height: 100rem;
    // margin: 8rem auto;
    // background-color: red;
    // min-height: 50rem;
}
.content {
    display: flex;
    flex-direction: column;
    
    .logo-box {
        text-align: center;
        padding-top: 15rem;
    }

    .nav-box {
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 2.2rem;
    }

    .description {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .email-box {
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
    }
}
