// layout
.landing {
    max-width: 100%;
    margin: 2rem 2rem;
    background-color: white;
    min-height: 115vh;

    a {
        color: inherit;
    }
}

.content {
    display: flex;
    flex-direction: column;
    
    .logo-box {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 10rem;
    }

    .nav-box {
        text-align: center;
        padding-top: 2.5rem;
        padding-bottom: 2.2rem;

        .btn-container {
            padding: 0.3rem;
        }
    }
    .name {
        font-size: 1.5rem;
        line-height: 5rem;
        letter-spacing: 0.1rem;
        font-weight: 400;
        text-transform: uppercase;

        // margin-top: 8px;
        margin-bottom: 8px;
    }
    .description {
        padding: 5rem 20rem;

        text-align: center;
    }
    .email-box {
        padding-top: 2.5rem;
        padding-bottom: 5rem;
        text-align: center;
    }

    .socials {
        padding-bottom: 7rem;

        &__icon-box {
            padding: 0rem 0.5rem;
        }
    }


}
