.projects {
    min-height: 100vh;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;

    padding-top: 5%;

    &__project-item {
        background-color: greenyellow;
        width: 25%;
    }

    &__project-item-cover {
        background: rgba(255, 255, 255, 0.75);
    }
}

