.projects {
    min-height: 100vh;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;

    padding-top: 5rem;

    &__project-item {
        background-color: greenyellow;
        width: 25%;
        height: 25rem;

        background-size: cover;
        background-position: center;

    }

    &__project-item-cover {
        color: transparent;
        background: none;

        width: auto;
        height: 25rem;

        :hover {
            color: black;
            background: rgba(255, 255, 255, 0.75);
        }
    }
}

