.wrapper {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.resume {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 6rem;

    @media only screen and (max-width: $bp-large) {
        padding-top: 0;
    }

    h1 {
        line-height: 5rem;
        font-size: 4.6rem;
    }

    h2 {
        font-family: $poppins;
        line-height: 5rem;
        font-size: 3.2rem;
        font-weight: 600;
        color: $color-accent;
        text-transform: none;
    }

    li {
        font-family: $open-sans;
        list-style-type: none;
        line-height: 3.6rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    &__main {
        display: flex;

        @media only screen and (max-width: $bp-large) {
            flex-direction: column;
        }
    }

    &__header {
        display: flex;
        flex: 0.5;
        justify-content: center;

        @media only screen and (max-width: $bp-large) {
            padding-top: 2rem;
            padding-bottom: 4rem;
        }
    }

    &__target {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        gap: 6rem;

        @media only screen and (max-width: $bp-large) {
            justify-content: center;
        }

        @media only screen and (max-width: $bp-medium) {
            padding-top: 2rem;
            padding-bottom: 4rem;

            text-align: center;
            flex-direction: column;
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-self: center;

        width: 70vw;

    }

    &__education {
            display: flex;
            flex: 1;
            height: 50%;

            border-bottom: 1px solid black;

            .information {
                display: flex;
                flex: 1;
                flex-direction: column;

                // text-align: center;
            }

        &-item {
            height: 50%;

            h2 {
                margin-bottom: 0.8rem;
            }

            .degree {
                margin-bottom: 1.8rem;
            }

            .description {
                margin: 0 0 3rem 0;
            }

        
        }
    }



    &__skills {
            display: flex;
            flex: 1;
            height: 50%;

            border-bottom: 1px solid black;
        
        
        &-information {
            display: flex;
            flex: 1;
        }

        &-item {
            // width: 33.33%;
            flex: 1;

            .skill-name {
                // text-align: center;

            }

            .technology {
                // text-align: center;
            }

            .concepts {
                // text-align: center;
            }

            ul {
                max-width: 100%;

                display: flex;
                flex-flow: wrap;
                // justify-content: center;

                gap: 0.4rem;
                
            }

            li {
                list-style-type: none;
            }
        }
    }

    &__resume-header {
        width: 30%;
        

        h1 {
            display: inline-block;
            padding-bottom: 0.2rem;
            border-bottom: 3px solid orange;
        }
    }

    .download-box {
        padding-top: 4rem;
        text-align: center;
    }
    
}