.skills {

    &__main-container {
        max-width: 120rem;
        min-height: 50rem;
        margin: 8rem auto;

    }

    &__content-box {
        display: flex;
        justify-content: space-between;
    }

    &__header {
        align-self: flex-start;
        border-bottom: 3px solid orange;
        padding-bottom: 0.4rem;
    }

    &__data {
        border-bottom: 1px solid black;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__email-box {

        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}