// breakpoints
$bp-largest: 75em;      // 1200px
$bp-large: 68.75em;     // 1100px
$bp-medium: 48.125em;    // 770px divide by 16 = 




* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    // 1rem = 10px, 10px/16px = 62.5%

    // @media only screen and (max-width: $bp-large) {
    //     font-size: 50%;
    // }
}

body {
    box-sizing: border-box;
}