// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,700&display=swap');

// Font Variables
$montserrat: 'Montserrat', sans-serif;


.btn {
    // font-family: $montserrat;
    // font-weight: 700;
    font-family: Arial;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: bold;
}

h1 {
    font-family: Arial;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 3rem;
}

.resume {
    h2 {
        font-family: Arial;
        font-size: 2.4rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .degree {
        font: 16px/24px 'librebaskerville-italic', serif;
        color: #6E7881;
    }
}