.contact {
    height: 110vh;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            padding-top: 6rem;
        }
    }

    &__icon-box {
        text-align: center;
        h1 {
            font-size: 3.6rem;
            color: $color-main;
        }
    }

    &__inquiries {
        padding-top: 8rem;
        padding-bottom: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            font-size: 4.2rem;
            color: $color-accent;
        }

        h2 {
            font-size: 3.6rem;
            color: $color-main;
        }

        a {
            color: inherit;
            text-decoration: inherit;
            

            font-size: 3.6rem;
            color: $color-main;
            font-family: $poppins;
            
        }
    }
    
}