// button light
a { 
    &:link, 
    &:visited {
        text-decoration: none;
    }
}

.btn {
    border-radius: 10rem;
    // text-transform: uppercase;
    // line-height: 5rem;
    cursor: pointer;

    &:link,
    &:hover,
    &:active
    &:visited {
        text-decoration: none;
    }

    &--landing {
        padding: 0.5rem 4rem;
        text-transform: uppercase;
        line-height: 5rem;
    }

    &--icon {
        // padding: 1rem 1rem 1rem 1rem;
        // align-self: center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: row;
    }

    &--light {
        border: 1px solid black;

        &:hover {
            border: 1px solid #000;
            background-color: black;
            color: white;
        }
    }

    &--dark {
        border: 1px solid black;
        background-color: black;
        color: white;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}