.footer {
    color: rgb(221, 221, 221);
    
    font-family: arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    padding: 6rem 0;
    text-align: center;
    text-transform: none;
    width: 100%;
    bottom: 0;

    // &__text {
    //     font-family: arial;
    //     font-size: 13px;
    //     font-style: normal;
    //     font-weight: 400;
    //     line-height: 19px;
    //     text-transform: none;
    // }
}