// FULL WIDTH NAV

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;

    &__logo-wrap {
        display: flex;
        align-items: flex-start;
    }

    a {
        text-decoration: none;
    }

    &__toggle-button-wrap {
        position: absolute;
        top: 0;
        right: 0;
        
        height: 5.25rem;
        width: 6rem;
    }

    &__toggle-button {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        
        // @media only screen and (max-width: $bp-medium) {
        //     display: flex;
        // }


        // .bar {
        //     height: 3px;
        //     width: 100%;
        //     background-color: white;
        //     border-radius: 10px;
        // }


    }

    &__bar {
        height: 0.3rem;
        width: 3rem;
        background-color: #000000;
        border-radius: 10px;
    }


    &__menu {
        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            flex-flow: wrap;
        }

    }

    &__menu-list {
        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            // display: none;
        }
    }

    &__menu-item {
        padding-right: 3rem;

        a { 
            color: rgb(0, 0, 0);
            font-family: Arial;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: bold;
            text-transform: uppercase;

            cursor: pointer;
        }

        a:hover {
            color: orange;
        }
    }

    &__menu-socials {
        padding-bottom: 0.25rem;
        z-index: 1;


        // @media only screen and (max-width: $bp-medium) {
        //     display: none;
        // }
    }
}

// TOGGLED NAV

@media only screen and (max-width: $bp-medium) {
    .navigation {
        flex-direction: column;
        align-items: flex-start;

        padding: 0;
        margin: 0;

        &__logo-wrap {
            z-index: 1;
        }


        &__toggle-button {
            display: flex;
            z-index: 1;
        }

        &__toggle-button.active {

            .navigation__bar {
                width: 3.5rem;
                
                transition: transform .5s;
                opacity: .25s;
            }

            .navigation__bar:nth-child(1) {
                transform: translateY(1rem) translateX(-1rem) rotate(45deg);
            }
            .navigation__bar:nth-child(2) {
                opacity: 0;
            }
            .navigation__bar:nth-child(3) {
                // opacity: 0;
                transform: translateY(-0.85rem) translateX(-1rem) rotate(-45deg);
            }
        }

        &__menu {
            display: none;
            background-color: white;
            position: fixed;
            width: 100%;
            height: 100%;
        }

        &__menu-list {
            width: 100%;
            flex-direction: column;
            
            position: fixed;
            top: 20rem;
            transform: scale(1.75);
        }

        &__menu-item {
            // text-align: center;
            padding: 0.2rem 0;
        }

        &__menu-socials {
            width: 100%;
            height: auto;

            position: fixed;
            top: 45rem;

            transform: scale(1);
        }

        &__menu.active {
            display: flex;
        }
    }
}