.navigation {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;

    &__logo-wrap {
        display: flex;
        align-items: flex-start;

        .logo {

        }
    }

    a {
        text-decoration: none;
    }

    &__menu {
        display: flex;
        align-items: center;

    }

    &__menu-list {
        display: flex;
        align-items: center;
    }

    &__menu-item {
        padding-right: 3rem;

        a { 
            color: rgb(0, 0, 0);
            font-family: Arial;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: bold;
            text-transform: uppercase;

            cursor: pointer;
        }

        a:hover {
            color: orange;
        }
    }

    &__menu-socials {
        padding-bottom: 0.25rem;
    }
}