.tools {
    display: block;
    position: fixed;
    width: 4rem;
    height: 12rem;
    right: 0;
    top: 50%;
    margin: -60px 0 0 0;
    z-index: 55;

    background-color: $color-main;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }

}

.tool {    
    display: block;
    width: 40px;
    height: 40px;

        a {

        }

        .bar {
            height: 0.3rem;
            width: 3rem;
            background-color: $color-main;
            border-radius: 10px;
        }


    &:hover {
        background-color: white;

        .bar {background-color: rgb(29, 29, 29);}
    }
}
