.tool {        

    a {
        display: block;
        position: relative;
        width: 3.9rem;
        height: 3.9rem;
        margin: 0;
        padding: 0;
        list-style: none;
        transform-style: preserve-3d;
        perspective: 8rem;

        padding-top: 0.5rem;
        
        .bar {
            height: 0.2rem;
            // width: 100%;
            background-color: white;
            display: block;
            margin: 0.5rem 0.75rem;
            // border-radius: 10px;
        }
    }

    &:hover {
        background-color: white;

        .bar {background-color: rgb(29, 29, 29);}
    }
}